            header {
                background: url('images/central-park.jpg') 0 -200px; /* place image as background */
                background-size: 1700px; /*
                /* background-position: 0 -200px; */
                /* background-repeat: no-repeat; */
                height: 450px; /* give header some height to display the background image */
                width: 100%;
                padding-top: 100px;
                padding-left: 100px;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;

            }
            li {
                list-style-type: none;
                display: inline;
                padding: 0 20px;
            }
            li a {
                text-decoration: none; /* Remove Underline */
            }
            li a:link {
                color: #000; /* Before click */
            }
            li a:visited {
                color: #813db3; /* After click */
            }
            li a:hover {
                color: #333; /* Mouse Over */
            }
            li a:active {
                color: #753a30; /* Mouse Down */
            }
            nav {
                background-color:rgb(225, 245, 238);
                height: 50px;
                text-align: center;
                padding-top: 2px;
            }
            main {
                margin: 50px;
            }
            main h1 {
                color:rgb(129, 141, 179);
                font-family: arial;
            }
            table {
                margin-top: 35px;
            }
            table, caption, th, td {
                border: 1px solid #000;
            }
            th, td {
                width: 150px;
                height: 35px;
                text-align: center;
            }
            caption {
                text-transform: uppercase;
                font-weight: 600;
                height: 40px;
                padding-top: 15px;
                color: #753a30;
            }
            label {
                display: block;
                margin: 15px 0 0 0;
            }
            input {
                width: 300px;
            }
            input[type="radio"] {
                width: auto;
            }
            textarea { 
                width: 300px;
            }
            input[type="submit"] {
                display: block;
                margin: 20px 0 10px 0;
                width: 100px;
            }
            main #album #photo img {
                width: 400px;
            }
            /* Gallery */

            #album li {
                list-style: none;
                display: inline-block;
                margin: 10px;
                position: relative;
            }

            #album img {
                width: 250px;
                height: 180px;
                object-fit: cover;
            }

            .caption {
                text-align: center;
                font-weight: bold;
            }

            .description {
                position: absolute;
                left: 10px;
                bottom: 60px;
                width: 210px;
                background-color: rgba(255,255,255,0.8);
                padding: 10px;
                visibility: hidden;
            }

            #album li:hover {
                cursor: pointer;
            }

            #album li:hover .description {
                visibility: visible;
            }

            /* Footer */
            footer {
                height: 40px;
                background-color:rgb(129, 141, 179);
                text-align: center;
                padding-top: 20px;
                color:rgb(211,218,240);
            }

            #album {
                position: relative;
            }

            #infoBox {
                position: fixed;
                left: 50%;
                top: 60%;
                transform: translateX(-50%);
                width: 350px;
                
                background-color: rgba(0, 0, 0, 0.85);
                color: white;
                text-align: center;
                padding: 20px;
                border-radius: 15px;
                visibility: hidden;
                z-index: 9999;
            }

            #infoBox h2 {
                font-size: 30px;
                margin-bottom: 20px;

            }

            #infoText {
                font-size: 16px;
            }

            #closeInfo {
                color: yellow;
                font-weight: bold;
                margin-top: 20px;
                cursor: pointer;
                display: block;
            }
